<nav class="navbar navbar-dark bg-dark">

  <span class="navbar-text"><%= link_to 'TestGuru', root_path, class: 'navbar-brand' %> | <%= t('nav_bar.admin_header') %></span>

  <div class="navbar-text">
    <%= t('layouts.application.welcome') %>, <b class="nav-admin user-email"><%= current_user.first_name %></b> Guru |
    <%= link_to t('layouts.application.logout'), destroy_user_session_path, method: :delete %>
  </div>
</nav>
