<h1><%= t('badges.index.header') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t('badges.picture') %></th>
      <th scope="col"><%= t('badges.title') %></th>
    </tr>
  </thead>

<tbody>
    <%= render @badges %>
</tbody>

<p><%= button_to 'My badges', achieved_badges_index_path, class: "teal-button", method: :get %></p>

</table>
