<h1><%= t('.header', title: @test_passage.test.title) %></h1>
 <%= link_to t('.main_page'), tests_path %>

<h2 class="<%= result_style(@test_passage) %>" >
  <b><%= test_result(@test_passage) %></b><br>
  <%= t('.result_message', percent: @test_passage.percent_of_correct_answers) %>%
</h2>
