<h1><%= t('.header', title: @test_passage.test.title) %></h1>
 <%= link_to 'Main page', tests_path %>

<h2 class="<%= result_style(@test_passage) %>" >
  <b><%= test_result(@test_passage) %></b><br>
  Your result: <%= @test_passage.percent_of_correct_answers %>%
</h2>
