<h1><%= t('tests.index.header') %></h1>

<table>
  <tr>
    <th><%= t('test_table.title') %></th>
    <th><%= t('test_table.level') %></th>
    <th><%= t('test_table.questions') %></th>
    <th><%= t('test_table.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
