<h1><%= t('tests.index.header') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('test_table.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('test_table.level') %></th>
      <th scope="col"><%= t('test_table.questions') %></th>
      <th scope="col"><%= t('test_table.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>

  <p><%= button_to 'Badges', badges_path, class: "pink-button", method: :get %></p>

</table>
